body{
	margin: 0px;
	width: 65%;
	margin:0 auto;
	display:block;
	background-color: #202020;
}
section{
	line-height:200%;
}
ul {
	list-style-type: none;
	margin: 0px;
}
li {
	float: left;
	margin-top: 1%;
	height: 60px;
	padding: 1%;
}
li a {
	color: white;
}
li a:hover {
	color: Blue;
}
h1 {
	font-family:"Roman", Serif;
	font-size: 2em;
	padding-left: 2em;
	padding-right: 2em;
}
h2 {
	font-family:"Roman", Serif;
	font-size: 1.2em;
	padding-left: 4em;
	padding-right: 4em;
}
p {
	font-family:"Times", Serif;
	font-size: 1.2em;
	padding-left: 2em;
	padding-right: 2em;
}
.backimg{
	height: 40px;
	background-image: url("files/bgimg.jpg");
	background-size: cover;
}
.top{
	background: radial-gradient(LightSkyBlue, Blue);
}
.header{
	height: 180px;
	color: white;
	text-align: center;
}
.name{
	margin-top: 0px;
	margin-left: -200px;
	font-size: 4em;
}

.description{
	margin-top: 50px;
	margin-left: 200px;
}
.menu{
	background-color:gray;
	color: white;
	text-align: center;
	height: 60px;
}
.middle{
	height:1100px;
	background-color: white;
}
.right{
	width:25%;
	height: 100%;
	float: right;
}
.points{
	line-height:150%;
	height: 60%;
	padding: 1%;
	background-color: LightGray;
}
.subscribe{
	height: 25%;
	padding: 1%;
	border-style: solid;
	text-align:center;
}
.left{
	width:71%;
	float:left;
	padding: 1%;
	background-color: white;
}
.info{
	padding: 1%;
}
.history{
	padding: 1%;
}
.skills{
	padding: 1%;
	line-height:100%;
}

.image_left{
	float: left;
	margin: 2%;
	box-shadow: 5px 5px 3px #888888;
}
.image_right{
	float: right;
	margin: 2%;
	box-shadow: 5px 5px 3px #888888;
}
.image_mid{
}
.bottom{
	height: 60px;
	background-image: url("files/bgimg.jpg");
	background-size: cover;
}
