body {background-color: Beige;}

p {
	font-family: "Times";
  color: DarkBlue;
  font-size: 1.1em;
  text-indent: 2em;
  padding-left: 8em;
  padding-right: 8em;
}

h1 {
	font-family:"Roman", Serif;
	font-size: 3em;
	color: coral;
  background-color: BurlyWood;
  letter-spacing: 0.5em;
}

h2,h3,h4,h5 {
	font-family: "Palatino";
}

h2:hover { background-color:grey; }

img {
  border-radius: 1em;
  text-align: center;
}

.caption {
	text-align: center;
	font-size: 0.5em;
  font-weight: bold;
	padding-left: 0em;
	padding-right: 0em;
  text-indent: 0em;
}
